VITE_API_URL=http://localhost:3000/v1/api

REACT_APP_GOOGLE_CLIENT_ID=your-google-oauth-client-id-here
VITE_EMAIL_WEBHOOK_URL=https://n8n-hirenova.gdsc.dev/webhook/send-email-candidate
VITE_GEMINI_API_KEY=AIzaSyDjZc3AslY6BZX5RWR6JrN82-Q7q7nxFjw
VITE_SUGGESTION_SKILLS=https://eduma.oncloudtop.com/api/cv-analysis/search-courses